.about-section {
    background: $accent-bg-color;
    padding-top: 125px;
    padding-bottom: 20px;
    @media screen and (max-width: 767px){
    background-image: url(../images/aboutbg-mob@1x.png);
    background-repeat: no-repeat;
    background-position: 0 88%;
    background-size:contain;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/aboutbg-mob@2x.png);
    }
    }
    @media screen and (min-width: 768px) {
        padding-top: 130px;
        padding-bottom: 33px;
    }
    @media screen and (min-width: 1200px) {
    background-image: url(../images/aboutbg-desk@1x.png);
    background-repeat: no-repeat;
    background-position: 0 89%;
    background-size:contain;
    padding-top: 125px;
    padding-bottom: 20px;
    @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/aboutbg-desk@2x.png);
    }
    }
    &__label {
        text-align: center;
        margin-bottom: 15px;
    }

    &__title {
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 26px;
        @media screen and (min-width: 768px) {
            padding: 0;
            margin-bottom: 50px;
        }
        @media screen and (min-width: 1200px) {
            padding: 0;
            margin-bottom: 55px;
        }
    }
}

.about-content {
    @media screen and (min-width: 768px) {
            display: flex;
            justify-content: center;
        }
}

.section-image {
    margin-bottom: 46px;
    &__picture {
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width: 768px) {
            margin-bottom: 56px;
            margin-right: 17px;
            width: 340px;
        }
    @media screen and (min-width: 1200px) {
        margin-right: 74px;
        width: 516px;
        }
}

.section-content {
    margin-left: 30px;
    margin-right: 30px;
    @media screen and (min-width: 768px) {
            margin-left: 0;
            margin-right: 0;
            margin-top: 50px;
            width: 340px;  
        }
    @media screen and (min-width: 1200px) {
            margin-left: 0;
            margin-right: 0;
            margin-top: 50px;
            width: 463px;  
        }
    &__pre-text {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.58;
        color: $secondary-text-color;
        margin-bottom: 30px;
        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 1.79;  
        }
        @media screen and (min-width: 1200px) {
            font-size: 16px;
            line-height: 1.75; 
            margin-bottom: 35px; 
        }
    }
    &__text {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.58;
        color: $main-text-color;
        margin-bottom: 17px;
        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 1.79; 
        }
        @media screen and (min-width: 1200px) {
            line-height: 1.93; 
            margin-bottom: 35px;
        }
    }
    &__after-text {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.58;
        color: $main-text-color;
        margin-bottom: 47px;
        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 1.79;
            margin-bottom: 56px;
        }
        @media screen and (min-width: 1200px) {
            line-height: 1.93;
            margin-bottom: 45px;
        }
    }
    &__button {
        font-size: 14px;
        line-height: 1.29;
        text-align: center;
        height: 44px;
        padding-left: 37px;
        padding-right: 37px;
    }
}

.btn__arrow-red {
    margin-left: 14px;
}