.advantages {
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: $accent-bg-color;
  @media screen and(min-width:768px) {
    padding-top: 33px;
    padding-bottom: 70px;
  }
  @media screen and(min-width:1200px) {
    padding-top: 20px;
    padding-bottom: 70px;
  }
}

.advantages__list {
  padding-right: 50px;
  @media screen and (min-width: 768px) {
    display: flex;
    padding-right: 56px;
  }
  @media screen and (min-width: 1200px) {
      padding-right: 0;}
}

.advantages__item {
  margin-bottom: 38px;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    width: calc((100% - 2 * 60px) / 3);
    margin-right: 60px;
    &:last-child {
      margin-right: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 2 * 30px) / 3);
    margin-right: 30px;
    &:last-child {
      margin-right: 0px;}
  }
}
.advanteges__icon {
  margin-bottom: 16px;
  @media screen and(min-width:768px) {
    margin-bottom: 36px;
  }
  @media screen and(min-width:1200) {
    margin-bottom: 40px;
  }
}

.advantages__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $title-color;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.46;
    margin-bottom: 13px;
    text-transform: unset;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.14;
    margin-top: 40px;
    margin-bottom: 15px;}
    
}

.advantages__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.7;
  /* or 20px */
  color: $secondary-text-color;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.74;
    /* or 24px */}

  @media screen and (min-width:1200px) {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
    /* or 28px */}
}
