.advantages__list {
  padding-top: 20px;
  padding-bottom: 50px;
  padding-right: 50px;
  // @media screen and (min-width: 768px) {
  //     margin-top: 33px;
  //     margin-bottom: 70px;
  //     display: flex;
  //     padding-right: 42px;}
  // @media screen and (min-width: 1280px) {
  //     margin-top: 20px;
  //     margin-bottom: px;
  //     padding-right: 0;}
}

.advantages__item {
  margin-bottom: 38px;
  &:last-child {
    margin-bottom: 0;
  }
  //   @media screen and (min-width: 768px) {
  //     width: calc((100% - 2 * 60px) / 3);
  //     margin-bottom: 0px;
  //     margin-right: 60px;
  //     &:last-child {
  //       margin-right: 0px;}
  //   }
  //   @media screen and (min-width: 1280px) {
  //     width: calc((100% - 2 * 30px) / 3);
  //     margin-right: 30px;
  //     &:last-child {
  //       margin-right: 0px;}
  //   }
}

.advantages__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $title-color;
  //   @media screen and (min-width: 768px) {
  //     font-size: 48px;
  //     line-height: 1.46;
  //     margin-top: 36px;
  //     margin-bottom: 13px;}
  //   @media screen and (min-width: 1280px) {
  //     font-size: 58px;
  //     line-height: 1.14;
  //     margin-top: 40px;
  //     margin-bottom: 15px;}
}

.advantages__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.7;
  /* or 20px */
  color: $secondary-text-color;
  // @media screen and (min-width:768px) {
  // font-size: 14px;
  // line-height: 1.74;
  // /* or 24px */}
  // @media screen and (min-width:1200px) {
  // font-weight: bold;
  // font-size: 16px;
  // line-height: 1.76;
  // /* or 28px */
  // letter-spacing: 0.02em;
  // }
}
