// тут будут основные стили - шрифт, цвета, лайн-хейты и тд.

// R E S E T  S T Y L E S
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

// C O L O R S
$main-bg-color: #e5e5e5;
$accent-bg-color: #fff5f6;
$hero-bg-color: #ffb8ca;
$mob-menu-bg-color: #e17992;

$title-color: #d41443;
$label-color: #ffa5ba;
$subtitle-color: #ffffff;

$main-text-color: #907e82;
$secondary-text-color: #000000;
$accent-text-color-first: #ffffff;
$accent-text-color-second: #ffa5ba;

// C O M M O N S

body {
  background: $main-bg-color;
  color: $main-text-color;
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.04em;
}

/* Скрываем ненужные заголовки*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

// C O N T A I N E R

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 35px;
    padding-right: 35px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 115px;
    padding-right: 115px;
  }
}

// COMMON STYLES FOR TITLES

.section__label {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: $label-color;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.section__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $main-title-color;

  @media screen and (min-width: 768px) {
    font-size: 48px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

.section__subtitle {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $subtitle-color;

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.btn--white {
  color: $title-color;
  background-color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.04em;
  border: 0 solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 22px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}

.btn--red {
  color: #ffffff;
  background-color: #d41342;
  font-weight: 700;
  letter-spacing: 0.04em;
  border: 0 solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 22px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
