@mixin text($fw: 500, $fs: 12px, $lh: 1.86, $color: $main-text-color) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  color: $color;
}
@mixin trans($properties...) {
  transition-property: $properties;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__container {
  width: 260px;
  padding-top: 43px;
  padding-bottom: 57px;
}

.contacts {
  background-color: #fff5f6;

  &__list {
    font-style: normal;
    margin-bottom: 54px;
  }

  &__item {
    padding: 43px 20px;
    background: #ffffff;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__title {
    @include text(500, 12px, 1.86, $subtitle-color);
    margin-bottom: 25px;
    padding: 3px 25px;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    background-color: #f0d1a5;
  }

  &__title--green {
    background-color: #c2e297;
  }

  &__subtitle {
    @include text(500, 12px, 1.86, $secondary-text-color);
    margin-bottom: 10px;
  }

  &__text {
    @include text(500, 12px, 1.5, $main-text-color);
    margin-bottom: 25px;
    letter-spacing: 0.03em;
  }

  &__thumb {
    padding: 25px 0;
    margin-bottom: 25px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
  }

  &__days {
    @include text(500, 12px, 1.86, $secondary-text-color);
  }

  &__time {
    @include text(500, 12px, 1.86, $accent-text-color-second);
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__link {
    @include text(500, 12px, 1.5, $main-text-color);
    display: block;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.contacts__wrapper {
  text-align: center;
}

.contacts__locations {
  width: 190px;
  margin-bottom: 10px;
}

.contacts__franchise {
  width: 190px;
}
