.contacts__container {
  padding-top: 43px;
  padding-bottom: 57px;
  padding-left: 30px;
  padding-right: 30px;
}

.contacts {
  background-color: #fff5f6;
  &__address {
  }

  &__list {
    margin-bottom: 54px;
  }

  &__item {
    padding: 43px 20px;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__subtitle {
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__thumb {
    padding: 25px 0;
    margin-bottom: 25px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
  }

  &__days {
    margin-bottom: 2px;
  }

  &__time {
  }

  &__communications {
  }

  &__link {
  }
}
.contacts__locations {
  margin-bottom: 10px;
}
