@mixin text($fw: 500, $fs: 12px, $lh: 1.86, $color: $main-text-color) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  color: $color;
}

.contacts__container {
  @media screen and (max-width: 767px) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.contacts {
  padding-top: 43px;
  padding-bottom: 57px;
  background-image: linear-gradient(
    to bottom,
    $main-bg-color 8%,
    $accent-bg-color 8%,
    $accent-bg-color 100%
  );

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 80px;
    background-image: linear-gradient(
      to bottom,
      $main-bg-color 16%,
      $accent-bg-color 16%,
      $accent-bg-color 100%
    );
  }

  @media screen and (min-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 80px;
    background-image: linear-gradient(
      to bottom,
      $main-bg-color 25%,
      $accent-bg-color 25%,
      $accent-bg-color 100%
    );
  }

  &__cards {
    margin-bottom: 54px;

    @media screen and (min-width: 768px) {
      display: flex;
      margin: -10px;
      margin-bottom: 80px;
    }

    @media screen and (min-width: 1200px) {
      margin: -15px;
      margin-bottom: 86px;
    }
  }

  &__card {
    padding: 43px 20px;
    background: #ffffff;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    @media screen and (min-width: 768px) {
      padding: 50px 30px;
      margin: 10px;
      width: calc((100% - 6 * 10px) / 3);
    }

    @media screen and (min-width: 1200px) {
      padding: 60px 44px;
      margin: 15px;
      width: calc((100% - 6 * 10px) / 3);
    }
  }

  &__title {
    @include text(500, 12px, 1.86, $subtitle-color);
    margin-bottom: 25px;
    padding: 3px 25px;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    background-color: #f0d1a5;

    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
      font-size: 16px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 32px;
    }
  }

  &__title--green {
    background-color: #c2e297;
  }

  &__subtitle {
    @include text(500, 12px, 1.86, $secondary-text-color);
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      margin-bottom: 14px;
      font-size: 14px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 32px;
      font-size: 16px;
    }
  }

  &__text {
    @include text(500, 12px, 1.5, $main-text-color);
    margin-bottom: 25px;
    letter-spacing: 0.03em;

    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 1.66;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 32px;
      font-size: 16px;
    }
  }

  &__thumb {
    padding: 25px 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;

    @media screen and (min-width: 768px) {
      padding: 30px 0;
    }

    @media screen and (min-width: 1200px) {
      padding: 32px 0;
    }
  }

  &__days {
    @include text(500, 12px, 1.86, $secondary-text-color);

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 16px;
    }
  }

  &__time {
    @include text(500, 12px, 1.86, $accent-text-color-second);

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 25px;

      @media screen and (min-width: 768px) {
        margin-bottom: 30px;
      }
    }
  }

  &__link {
    @include text(500, 12px, 1.5, $main-text-color);
    display: block;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.83;
    }

    @media screen and (min-width: 1200px) {
      font-size: 16px;
    }
  }
}

.contacts__list {
  padding-top: 25px;
  @media screen and (min-width: 768px) {
    padding-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
  }
}

.contacts__item {
  &:not(:last-child) {
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      margin-bottom: 14px;
    }
  }
}

.contacts__wrapper {
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.contacts__locations {
  padding: 13px 17px;
  min-width: 161px;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
  letter-spacing: 0.01em;

  @media screen and (min-width: 768px) {
    min-width: 192px;
    padding: 13px 30px;
    margin-bottom: 0;
    margin-right: 15px;
    letter-spacing: 0.02em;
  }

  @media screen and (min-width: 1200px) {
    min-width: 198px;
    padding: 13px 34px;
    margin-bottom: 0;
    letter-spacing: 0.01em;
  }
}

.contacts__franchise {
  display: block;
  margin: 0 auto;
  min-width: 161px;
  padding: 13px 17px;

  @media screen and (min-width: 768px) {
    min-width: 192px;
    padding: 13px 37px;
    margin: unset;
  }

  @media screen and (min-width: 1200px) {
    min-width: 198px;
    padding: 13px 39px;
  }
}
