.menu-container {
  position: fixed;
  overflow-y: auto;
  display: none;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $mob-menu-bg-color;
  &.is-open {
    display: block;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-container__item:not(:last-child) {
  margin-bottom: 23px;
}
.menu-container__nav--border {
  display: flex;
  height: 42px;
  border-color: 1px solid #e18298;
}
.menu-container__links {
  color: $main-bg-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $title-color;
  }
}
.menu-container__links--current {
  color: $title-color;
}
.btn--white--mobile {
  display: inline-block;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: $title-color;
  margin-bottom: 32px;
  background-color: #ffffff;
  stroke: #d41342;
  font-weight: 700;
  letter-spacing: 0.04em;
  border: 0 solid transparent;
  border-radius: 22px;
  cursor: pointer;
  vertical-align: middle;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
  @media screen and (min-width: 320px) {
    min-width: 209px;
  }
  @media screen and (min-width: 768px) {
    min-width: 186px;
  }
}
.btn--white:hover,
.btn--white:focus {
  background-color: #ecebeb;
}
.menu-button {
  position: absolute;
  top: 23px;
  right: 34px;
  z-index: 2;
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-button--flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-button .icon-close {
  display: none;
}
.menu-button.is-open .icon-close {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}
.menu-button:hover .icon-close,
.menu-button:focus .icon-close {
  fill: $title-color;
}
.menu-button:hover .icon-menu,
.menu-button:focus .icon-menu {
  fill: $main-bg-color;
}
.icon-menu {
  fill: $title-color;
  width: 20px;
  height: 12px;
}
.icon-close {
  fill: $main-bg-color;
}
.btn__arrow-red {
  margin-left: 15px;
}
.icon-menu,
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
