.menu-container {
  position: fixed;
  overflow-y: auto;
  z-index: 101;
  height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $mob-menu-bg-color;

  @media screen and (max-width: 767px) {
    width: 100vw;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &.is-open {
      opacity: 1;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    top: 0;
    right: 0;
    width: 254px;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    &.is-open {
      transform: translateX(0);
    }
  }
  @media screen and (min-width: 1199px) {
    display: none;
  }
}

.close-button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 23px;
  right: 28px;
  z-index: 1;
  display: inline-flex;
  padding: 0;
  margin: 0;
  cursor: pointer;
  margin-bottom: 23px;
}
.menu-container__item:not(:last-child) {
  margin-bottom: 23px;
}

.menu-container__links {
  color: $main-bg-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $title-color;
  }
}
.menu-container__links--current {
  color: $title-color;
}
.btn--white--mobile {
  display: inline-block;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: $title-color;
  margin-bottom: 32px;
  background-color: #ffffff;
  stroke: #d41342;
  font-weight: 700;
  letter-spacing: 0.04em;
  border: 0 solid transparent;
  border-radius: 22px;
  cursor: pointer;
  vertical-align: middle;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
  @media screen and (min-width: 320px) {
    min-width: 209px;
  }
  @media screen and (min-width: 768px) {
    min-width: 186px;
  }
}
.btn--white:hover,
.btn--white:focus {
  background-color: #ecebeb;
}
.menu-button--flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__menu-button.is-open .icon-close {
  display: block;
}
.header__menu-button.is-open .header__menu-burger {
  display: none;
}
.header__menu-button:hover .icon-close,
.header__menu-button:focus .icon-close {
  fill: $title-color;
}
.header__menu-button:hover .header__menu-burger,
.header__menu-button:focus .header__menu-burger {
  fill: $main-bg-color;
}

.icon-close {
  fill: $main-bg-color;
}
.btn__arrow-red {
  margin-left: 15px;
}
.header__menu-burger {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
