.products-section {
  padding-top: 120px;
  padding-bottom: 100px;
  background-color: $main-bg-color;

  &__label {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: calc(21 / 18);

    text-align: center;
    text-transform: uppercase;

    color: $label-color;

    margin-bottom: 15px;
  }

  &__title {
    font-family: Titan One;
    font-size: 34px;
    line-height: calc(39 / 34);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $title-color;

    margin-bottom: 145px;
  }
}

.cards-grid {
  &__item {
    max-width: 280px;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: 130px;
    }
  }
}

.product-card {
  border-radius: 24px;

  padding: 160px 40px 40px 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  &::before {
    content: '';
    width: 249px;
    height: 252px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: absolute;
    top: 0;
    z-index: 2;
    transform: translateY(-45%);

    // Alternative positioning variant
    // margin-bottom: -45%;
    // position: relative;
    // transform: translateY(-45%);
  }
}

.product-card--ice-cream {
  background: #ffb8ca;

  &::before {
    background-image: url(../images/products-section/product-1-mobile@1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/products-section/product-1-mobile@2x.png);
    }

    @media screen and (min-width: 768px) {
      background-image: url(../images/products-section/product-1-tablet@1x.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products-section/product-1-tablet@2x.png);
      }
    }

    @media screen and (min-width: 1200px) {
      background-image: url(../images/products-section/product-1-desktop@1x.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products-section/product-1-desktop@2x.png);
      }
    }
  }
}

.product-card--ice-coffe {
  background: #f0d1a5;

  &::before {
    background-image: url(../images/products-section/product-2-mobile@1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/products-section/product-2-mobile@2x.png);
    }

    @media screen and (min-width: 768px) {
      background-image: url(../images/products-section/product-2-tablet@1x.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products-section/product-2-tablet@2x.png);
      }
    }

    @media screen and (min-width: 1200px) {
      background-image: url(../images/products-section/product-2-desktop@1x.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products-section/product-2-desktop@2x.png);
      }
    }
  }
}

.product-card--milkshake {
  background: #c2e297;

  &::before {
    background-image: url(../images/products-section/product-3-mobile@1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/products-section/product-3-mobile@2x.png);
    }

    @media screen and (min-width: 768px) {
      background-image: url(../images/products-section/product-3-tablet@1x.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products-section/product-3-tablet@2x.png);
      }
    }

    @media screen and (min-width: 1200px) {
      background-image: url(../images/products-section/product-3-desktop@1x.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products-section/product-3-desktop@2x.png);
      }
    }
  }
}

.product-card__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: calc(23 / 20);

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $subtitle-color;

  &::after {
    content: '';
    width: 26px;
    height: 6px;
    background: url(../images/products-section/points.svg);

    display: block;
    margin: 30px auto;
  }
}

.product-card__description {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(21 / 14);

  text-align: center;
  letter-spacing: 0.04em;

  color: #ffffff;

  margin-bottom: 30px;
}

.product-card__button {
  padding: 0;
  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(../images/products-section/card-btn-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;

  cursor: pointer;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-card__button:hover {
  &.product-card__button--ice-cream,
  &.product-card__button--ice-cream {
    box-shadow: 0px 0px 3px 6px #f88ca5;
  }

  &.product-card__button--ice-coffe,
  &.product-card__button--ice-coffe {
    box-shadow: 0px 0px 3px 6px #e8c086;
  }

  &.product-card__button--milkshake,
  &.product-card__button--milkshake {
    box-shadow: 0px 0px 3px 6px #acd17b;
  }
}

.product-card__full-information {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(21 / 14);

  text-align: center;
  letter-spacing: 0.04em;

  color: #ffffff;

  padding: 10px;
  border-radius: 7px;

  // overflow: auto;

  position: absolute;
  left: 0;
  top: 225px;
  height: 175px;

  opacity: 0;
  transform: scale(0.3);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--ice-cream {
    background-color: #f88ca5;
  }

  &--ice-coffe {
    background-color: #e8c086;
  }

  &--milkshake {
    background-color: #acd17b;
  }
}

.overlay-shown {
  opacity: 1;
  transform: scale(1);
}
