.riviews {
  padding-top: 40px;
  padding-bottom: 43px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
}
.riviews__article {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
}
.riviews__img {
  margin-bottom: 29px;
}
.riviews__bloc {
  width: 280px;
  padding: 43px 50px 20px 50px;
  background: #fafafa;
  margin-bottom: 29px;
  @media screen and (min-width: 768px) {
    width: 620px;
    height: 165px;
    padding-top: 47px;
    padding-bottom: 34px;
  }
  @media screen and (min-width: 1200px) {
    width: 926px;
    height: 138px;
    padding-top: 47px;
    padding-bottom: 39px;
  }
}
.riviews__h3 {
  position: relative;
  z-index: 4;
  margin-left: auto;
  margin-right: auto;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  color: #000000;
  width: 100%;
  width: 157px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: 0.04em;
    margin-left: auto;
    margin-right: auto;
    width: 460px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.87;
    margin-left: auto;
    margin-right: auto;
    width: 770px;
  }
}
.riviews__relative {
  width: auto;
  position: relative;
  background-image: linear-gradient(0deg, #e1e1e1, #e1e1e1 1px, transparent 1px, transparent 100%);
  background-size: 1px 30px;
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
      0deg,
      #e1e1e1,
      #e1e1e1 1px,
      transparent 1px,
      transparent 100%
    );
    background-size: 1px 29px;
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
      0deg,
      #e1e1e1,
      #e1e1e1 1px,
      transparent 1px,
      transparent 110%
    );
    background-size: 1px 28px;
  }
}
.riviews__quotes {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(16px, -22px);
  @media screen and (min-width: 768px) {
    transform: translate(-14px, -18px);
  }
  @media screen and (min-width: 1200px) {
    transform: translate(-7px, -18px);
  }
}
.riviews__list {
  display: flex;
  margin-bottom: 18px;
  align-items: center;
}
.riviews__li {
  &:not(:last-child) {
    margin-right: 10px;
  }
  background: #c7133e;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}
.riviews__p {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.85;
  color: #000000;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 186%;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 186%;
  }
}
.riviews__item {
  margin-left: 18px;
  background: #d9d9d9;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.riviews__svg {
  width: 12px;
  height: 12px;
}
