/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './example';
@import './base';
@import './header-hero';
@import './products';
@import './about';
@import './advantages';
@import './gallery';
@import './reviews';
@import './contacts';
@import './advantages';
@import './footer';