@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  background: #e5e5e5;
  color: #907e82;
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.04em;
}

/* Скрываем ненужные заголовки*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 115px;
    padding-right: 115px;
  }
}

.section__label {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .section__label {
    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1200px) {
  .section__label {
    font-size: 30px;
    line-height: 1.13;
  }
}

.section__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .section__title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

.section__subtitle {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .section__subtitle {
    font-size: 30px;
    line-height: 1.13;
  }
}

.btn--white {
  color: #d41443;
  background-color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.04em;
  border: 0 solid transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 22px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn--white:hover, .btn--white:focus {
  background-color: #ecebeb;
}

.btn--red {
  color: #ffffff;
  background-color: #d41342;
  font-weight: 700;
  letter-spacing: 0.04em;
  border: 0 solid transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 22px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn--red:hover, .btn--red:focus {
  background-color: #ecebeb;
}

.contacts__container {
  width: 260px;
  padding-top: 43px;
  padding-bottom: 57px;
}

.contacts {
  background-color: #fff5f6;
}

.contacts__list {
  font-style: normal;
  margin-bottom: 54px;
}

.contacts__item {
  padding: 43px 20px;
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #ffffff;
  margin-bottom: 25px;
  padding: 3px 25px;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  background-color: #f0d1a5;
}

.contacts__title--green {
  background-color: #c2e297;
}

.contacts__subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
  margin-bottom: 10px;
}

.contacts__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  margin-bottom: 25px;
  letter-spacing: 0.03em;
}

.contacts__thumb {
  padding: 25px 0;
  margin-bottom: 25px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.contacts__days {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
}

.contacts__time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #ffa5ba;
}

.contacts__time:not(:last-child) {
  margin-bottom: 25px;
}

.contacts__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  display: block;
}

.contacts__link:not(:last-child) {
  margin-bottom: 10px;
}

.contacts__wrapper {
  text-align: center;
}

.contacts__locations {
  display: inline-block;
  margin-bottom: 10px;
  font-style: normal;
  padding: 10px 20px;
}

.contacts__franchise {
  display: inline-block;
  padding: 10px 32px;
}
/*# sourceMappingURL=main.css.map */