/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента

@import './example';
@import './base';
@import './menu-mobile';
@import './header-hero';
@import './modal-shop';
@import './products';
@import './about';
@import './modal-about';
@import './advantages';
@import './gallery';
@import './reviews';
@import './contacts';
@import './advantages';
@import './footer';
@import './modal-franchise';
@import './form';
