<section class="advantages">
    <div class="container advantages__container">
        <h2 class="advantages__name" hidden>advantages</h2>
        <ul class="advantages__list">
            <li class="advantages__item">
                <img class="advanteges__icon" src="images/icon1.png" alt="ведёрко с молоком">
                <p class="advantages__title">721</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="advantages__item">
                <img class="advanteges__icon" src="images/icon2.png" alt="ведёрко с фруктами">
                <p class="advantages__title">16kg</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

            </li>
            <li class="advantages__item">
                <img class="advanteges__icon" src="images/icon3.png" alt="морожено">
                <p class="advantages__title">84</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>