<section class="section">
    <div class="container">
        <h2 class="advantages" hidden>advantages</h2>
        <ul class="advantages__list">
            <li class="advantages__item">
                <img class="advanteges__icon" src="../images/icon1.png" alt="ведёрко с молоком">
                <h3 class="advantages__title">721</h3>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="Advantages__item">
                <img src="../images/icon2.png" alt="ведёрко с фруктами">
                <h3 class="advantages__title">16kg</h3>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

            </li>
            <li class="Advantages__item">
                <img src="../images/icon3.png" alt="морожено">
                <h3 class="advantages__title">84</h3>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>