<section class="contacts">
  <div class="container contacts__container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__title">CAFE</p>
        <p class="contacts__subtitle">Chicago</p>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <ul class="contacts__thumb">
          <li class="contacts__days">Monday - Friday</li>
          <li class="contacts__time">06:00 AM - 10:00 PM</li>
          <li class="contacts__days">Saturday - Sunday</li>
          <li class="contacts__time">08:00 AM - 16:00 PM</li>
        </ul>

        <div class="contacts__communications">
          <a href="tel:+61(0)383766284" class="contacts__link">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
        </div>
      </li>

      <li class="contacts__item">
        <p class="contacts__title contacts__title--green">FOODTRUCK</p>
        <p class="contacts__subtitle">Los Angeles</p>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <ul class="contacts__thumb">
          <li class="contacts__days">Monday - Friday</li>
          <li class="contacts__time">06:00 AM - 10:00 PM</li>
          <li class="contacts__days">Saturday - Sunday</li>
          <li class="contacts__time">08:00 AM - 16:00 PM</li>
        </ul>

        <div class="contacts__communications">
          <a href="tel:+61(0)383766284" class="contacts__link">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
        </div>
      </li>

      <li class="contacts__item">
        <p class="contacts__title">CAFE</p>
        <p class="contacts__subtitle">New York</p>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <ul class="contacts__thumb">
          <li class="contacts__days">Monday - Friday</li>
          <li class="contacts__time">06:00 AM - 10:00 PM</li>
          <li class="contacts__days">Saturday - Sunday</li>
          <li class="contacts__time">08:00 AM - 16:00 PM</li>
        </ul>

        <div class="contacts__communications">
          <a href="tel:+61(0)383766284" class="contacts__link">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
        </div>
      </li>
    </ul>

    <div class="contacts__wrapper">
      <a
        href="https://www.google.com.ua/maps/place/%D0%A7%D0%B8%D0%BA%D0%B0%D0%B3%D0%BE,+%D0%98%D0%BB%D0%BB%D0%B8%D0%BD%D0%BE%D0%B9%D1%81,+%D0%A1%D0%A8%D0%90/@39.469125,-93.3773007,5z/data=!4m5!3m4!1s0x880e2c3cd0f4cbed:0xafe0a6ad09c0c000!8m2!3d41.8781136!4d-87.6297982?hl=ru"
        target="blank"
        rel="noopener noreferrer"
        class="contacts__locations btn--red"
        >Our Locations
        <svg class="btn__arrow-red" width="10" height="10">
          <use href="./images/symbol-defs.svg#icon-arrow-white"></use>
        </svg>
      </a>
      <button class="contacts__franchise btn--white" data-modal-open>
        Franchise
        <svg class="btn__arrow-red" width="10" height="10">
          <use href="./images/symbol-defs.svg#icon-arrow-red"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
