<!--Галерея-->
<section class="gallery">
  <div class="container gallery-img">
    <h2 class="visually-hidden">Gallery</h2>
    <!-- <picture> 
      <source
        srcset="
          images/gallery/desktop/home-pic51d.jpg    1x,
          images/gallery/desktop/home-pic51d@2x.jpg 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          images/gallery/tablet/home-pic51t.jpg    1x,
          images/gallery/tablet/home-pic51t@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          images/gallery/mobile/home-pic51m.jpg    1x,
          images/gallery/mobile/home-pic51m@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="gallery-img__img"
        src="images/gallery/tablet/home-pic51t.jpg"
        alt="Image ice cream"
      />
    </picture>-->
    <ul class="gallery__list">
      <li class="gallery__item gallery__item--first">
        <picture>
          <source srcset="
                  images/gallery/desktop/gallery1.jpg 1x, 
                  images/gallery/desktop/gallery1-x2.jpg 2x" media="(min-width: 1200px)">
          <source srcset="
                  images/gallery/tablet/gallery1.jpg 1x, 
                  images/gallery/tablet/gallery1-x2.jpg 2x" media="(min-width: 768px)">
          <source srcset="
                  images/gallery/mobile/gallery1.jpg 1x, 
                  images/gallery/mobile/gallery1-x2.jpg 2x" media="(max-width: 767px)">
          <img class="gallery__img" src="images/gallery/tablet/gallery1.jpg" alt="Image ice cream">
        </picture>
      </li>
      <li class="gallery__item gallery__item--second">
        <picture>
          <source srcset="
                  images/gallery/desktop/gallery2.jpg 1x, 
                  images/gallery/desktop/gallery2-x2.jpg 2x" media="(min-width: 1200px)">
          <source srcset="
                  images/gallery/tablet/gallery2.jpg 1x, 
                  images/gallery/tablet/gallery2-x2.jpg 2x" media="(min-width: 768px)">
          <source srcset="
                  images/gallery/mobile/gallery2.jpg 1x, 
                  images/gallery/mobile/gallery2-x2.jpg 2x" media="(max-width: 767px)">
          <img class="gallery__img" src="images/gallery/tablet/gallery2.jpg" alt="Image ice cream">
        </picture>
        <picture>
          <source srcset="
                  images/gallery/desktop/gallery3.jpg 1x, 
                  images/gallery/desktop/gallery3-x2.jpg 2x" media="(min-width: 1200px)">
          <source srcset="
                  images/gallery/tablet/gallery3.jpg 1x, 
                  images/gallery/tablet/gallery3-x2.jpg 2x" media="(min-width: 768px)">
          <source srcset="
                  images/gallery/mobile/gallery3.jpg 1x, 
                  images/gallery/mobile/gallery3-x2.jpg 2x" media="(max-width: 767px)">
          <img class="gallery__img" src="images/gallery/tablet/gallery3.jpg" alt="Image ice cream">
        </picture>
      </li>
      <li class="gallery__item gallery__item--third">
        <picture>
          <source srcset="
                  images/gallery/desktop/gallery4.jpg 1x, 
                  images/gallery/desktop/gallery4-x2.jpg 2x" media="(min-width: 1200px)">
          <source srcset="
                  images/gallery/tablet/gallery4.jpg 1x, 
                  images/gallery/tablet/gallery4-x2.jpg 2x" media="(min-width: 768px)">
          <source srcset="
                  images/gallery/mobile/gallery4.jpg 1x, 
                  images/gallery/mobile/gallery4-x2.jpg 2x" media="(max-width: 767px)">
          <img class="gallery__img" src="images/gallery/tablet/gallery4.jpg" alt="Image ice cream">
        </picture>
        <picture>
          <source srcset="
                  images/gallery/desktop/gallery5.jpg 1x, 
                  images/gallery/desktop/gallery5-x2.jpg 2x" media="(min-width: 1200px)">
          <source srcset="
                  images/gallery/tablet/gallery5.jpg 1x, 
                  images/gallery/tablet/gallery5-x2.jpg 2x" media="(min-width: 768px)">
          <source srcset="
                  images/gallery/mobile/gallery5.jpg 1x, 
                  images/gallery/mobile/gallery5-x2.jpg 2x" media="(max-width: 767px)">
          <img class="gallery__img" src="images/gallery/tablet/gallery5.jpg" alt="Image ice cream">
        </picture>
      </li>
      <li class="gallery__item gallery__item--fourth">
        <picture>
          <source srcset="
                  images/gallery/desktop/gallery6.jpg 1x, 
                  images/gallery/desktop/gallery6-x2.jpg 2x" media="(min-width: 1200px)">
          <source srcset="
                  images/gallery/tablet/gallery6.jpg 1x, 
                  images/gallery/tablet/gallery6-x2.jpg 2x" media="(min-width: 768px)">
          <source srcset="
                  images/gallery/mobile/gallery6.jpg 1x, 
                  images/gallery/mobile/gallery6-x2.jpg 2x" media="(max-width: 767px)">
          <img class="gallery__img" src="images/gallery/tablet/gallery6.jpg" alt="Image ice cream">
        </picture>
        <picture>
          <source srcset="
                  images/gallery/desktop/gallery7.jpg 1x, 
                  images/gallery/desktop/gallery7-x2.jpg 2x" media="(min-width: 1200px)">
          <source srcset="
                  images/gallery/tablet/gallery7.jpg 1x, 
                  images/gallery/tablet/gallery7-x2.jpg 2x" media="(min-width: 768px)">
          <source srcset="
                  images/gallery/mobile/gallery7.jpg 1x, 
                  images/gallery/mobile/gallery7-x2.jpg 2x" media="(max-width: 767px)">
          <img class="gallery__img" src="images/gallery/tablet/gallery7.jpg" alt="Image ice cream">
        </picture>
      </li>
      <li class="gallery__item gallery__item--fifth">
        <picture>
          <source srcset="
                  images/gallery/desktop/gallery8.jpg 1x, 
                  images/gallery/desktop/gallery8-x2.jpg 2x" media="(min-width: 1200px)">
          <source srcset="
                  images/gallery/tablet/gallery8.jpg 1x, 
                  images/gallery/tablet/gallery8-x2.jpg 2x" media="(min-width: 768px)">
          <source srcset="
                  images/gallery/mobile/gallery8.jpg 1x, 
                  images/gallery/mobile/gallery8-x2.jpg 2x" media="(max-width: 767px)">
          <img class="gallery__img" src="images/gallery/tablet/gallery8.jpg" alt="Image ice cream">
        </picture>
        <picture>
          <source srcset="
                  images/gallery/desktop/gallery9.jpg 1x, 
                  images/gallery/desktop/gallery9-x2.jpg 2x" media="(min-width: 1200px)">
          <source srcset="
                  images/gallery/tablet/gallery9.jpg 1x, 
                  images/gallery/tablet/gallery9-x2.jpg 2x" media="(min-width: 768px)">
          <source srcset="
                  images/gallery/mobile/gallery9.jpg 1x, 
                  images/gallery/mobile/gallery9-x2.jpg 2x" media="(max-width: 767px)">
          <img class="gallery__img" src="images/gallery/tablet/gallery9.jpg" alt="Image ice cream">
        </picture>
      </li>
      <li class="gallery__item gallery__item--first">
        <picture>
          <source srcset="
                  images/gallery/desktop/gallery10.jpg 1x, 
                  images/gallery/desktop/gallery10-x2.jpg 2x" media="(min-width: 1200px)">
          <source srcset="
                  images/gallery/tablet/gallery10.jpg 1x, 
                  images/gallery/tablet/gallery10-x2.jpg 2x" media="(min-width: 768px)">
          <source srcset="
                    images/gallery/mobile/gallery10.jpg 1x, 
                    images/gallery/mobile/gallery10-x2.jpg 2x" media="(max-width: 767px)">
          <img class="gallery__img" src="images/gallery/tablet/gallery10.jpg" alt="Image ice cream">
        </picture>
      </li>
    </ul>
  </div>
</section>
