<!--Галерея-->
<section class="gallery">
  <div class="container gallery-img">
    <h2 class="visually-hidden">Gallery</h2>
    <picture>
      <source
        srcset="
          images/gallery/desktop/home-pic51d.jpg    1x,
          images/gallery/desktop/home-pic51d@2x.jpg 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          images/gallery/tablet/home-pic51t.jpg    1x,
          images/gallery/tablet/home-pic51t@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          images/gallery/mobile/home-pic51m.jpg    1x,
          images/gallery/mobile/home-pic51m@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="gallery-img__img"
        src="images/gallery/tablet/home-pic51t.jpg"
        alt="Image ice cream"
      />
    </picture>
  </div>
</section>
