<header class="header" id="home">
    <div class="container header__wrapper">
        <a href="#" class="logo">
            <picture>
                <source srcset="images/header/logo.webp 1x, images/header/logo@2x.webp 2x" media="(min-width: 320px)"
                    type="image/webp">
                <source srcset="images/header/logo.png 1x, images/header/logo@2x.png 2x" media="(min-width: 320px)">
                <img class="logo__img" src="images/header/logo.png" alt="Logo">
            </picture>
        </a>
        <ul class="header__nav-list">
            <li class="header__nav-item">
                <a href="#home" class="header__nav-link header__nav-link--active">
                    Home
                </a>
            </li>
            <li class="header__nav-item">
                <a href="#review" class="header__nav-link">
                    About us
                </a>
            </li>
            <li class="header__nav-item">
                <a href="#made" class="header__nav-link">
                    How it’s made?
                </a>
            </li>
            <li class="header__nav-item">
                <a href="#products" class="header__nav-link">
                    Our products
                </a>
            </li>
            <li class="header__nav-item">
                <a href="#contact" class="header__nav-link">
                    Contact
                </a>
            </li>
        </ul>
        <button class="header__menu-button menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
            <svg class="header__menu-burger" width="20" height="12" fill="currentColor">
                <use href="images/symbol-defs.svg#icon-burger"></use>
            </svg>
        </button>
        <button class="header__modal-button btn--white" type="button" data-modal-open>
            Buy now
            <svg class="btn__arrow-red" width="10" height="10">
                <use href="images/symbol-defs.svg#icon-arrow-red"></use>
            </svg>
        </button>
    </div>
</header>

<section class="hero">
    <div class="container hero__wrapper">
        <div class="hero__box">
            <h1 class="hero__title">ice cream <br> made with
                <span class="hero__subtitle">passion</span>
            </h1>
            <ul class="hero__list">
                <li class="hero__item hero__item--red">
                    <a href="#products" class="hero__link--red">Products</a>
                </li>
                <li class="hero__item hero__item--white">
                    <a href="#made" class="hero__link--white">How it’s made?</a>
                </li>
            </ul>
        </div>
        <ul class="hero__count-list">
            <li class="hero__count-item">16
                <p class="hero__count-text">cafes</p>
            </li>
            <li class="hero__count-item">23
                <p class="hero__count-text">food tracks</p>
            </li>
        </ul>
        <div class="hero__box-circle"></div>
        <picture>
            <source srcset="images/hero/mobile/ice-cream-mobile.webp 1x, images/hero/mobile/ice-cream-mobile@2x.webp 2x"
                media="(max-width: 767px)" type="image/webp">
            <source srcset="images/hero/mobile/ice-cream-mobile.png 1x, images/hero/mobile/ice-cream-mobile@2x.png 2x"
                media="(max-width: 767px)">

            <source srcset="images/hero/tablet/ice-cream-tablet.webp 1x, images/hero/tablet/ice-cream-tablet@2x.webp 2x"
                media="(max-width: 1199px)" type="image/webp">
            <source srcset="images/hero/tablet/ice-cream-tablet.png 1x, images/hero/tablet/ice-cream-tablet@2x.png 2x"
                media="(max-width: 1199px)">

            <source
                srcset="images/hero/desktop/ice-cream-desktop.webp 1x, images/hero/desktop/ice-cream-desktop@2x.webp 2x"
                media="(min-width: 1200px)" type="image/webp">
            <source
                srcset="images/hero/desktop/ice-cream-desktop.png 1x, images/hero/desktop/ice-cream-desktop@2x.png 2x"
                media="(min-width: 1200px)">
            <img class="hero__img--icecream" src="images/hero/mobile/ice-cream-mobile.png" alt="Ice Cream">
        </picture>

        <picture>
            <source srcset="images/hero/tablet/milk-jug-tablet.webp 1x, images/hero/tablet/milk-jug-tablet@2x.webp 2x"
                media="(max-width: 1199px)" type="image/webp">
            <source srcset="images/hero/tablet/milk-jug-tablet.png 1x, images/hero/tablet/milk-jug-tablet@2x.png 2x"
                media="(max-width: 1199px)">

            <source
                srcset="images/hero/desktop/milk-jug-desktop.webp 1x, images/hero/desktop/milk-jug-desktop@2x.webp 2x"
                media="(min-width: 1200px)" type="image/webp">
            <source srcset="images/hero/desktop/milk-jug-desktop.png 1x, images/hero/desktop/milk-jug-desktop@2x.png 2x"
                media="(min-width: 1200px)">
            <img class="hero__img--jug" src="images/hero/tablet/milk-jug-tablet.png" alt="Jug of Milk">
        </picture>

        <picture>
            <source srcset="images/hero/tablet/girl-tablet.webp 1x, images/hero/tablet/girl-tablet@2x.webp 2x"
                media="(max-width: 1199px)" type="image/webp">
            <source srcset="images/hero/tablet/girl-tablet.png 1x, images/hero/tablet/girl-tablet@2x.png 2x"
                media="(max-width: 1199px)">

            <source srcset="images/hero/desktop/girl-desktop.webp 1x, images/hero/desktop/girl-desktop@2x.webp 2x"
                media="(min-width: 1200px)" type="image/webp">
            <source srcset="images/hero/desktop/girl-desktop.png 1x, images/hero/desktop/girl-desktop@2x.png 2x"
                media="(min-width: 1200px)">
            <img class="hero__img--girl" src="images/hero/tablet/girl-tablet.png" alt="Girl">
        </picture>
        <div class="hero__box-text">
            <p class="hero__box-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et
            </p>
            <button class="hero__box-btn"></button>
        </div>
    </div>
</section>