

<div class="menu-container js-menu-container" id="menu-container" data-menu>
    <button type="button" class="close-button js-close-menu" data-menu-button aria-expanded="false"
        aria-controls="menu-container">
        <svg width="14" height="14" aria-label="Переключатель мобильного меню">
            <use class="icon-close" href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
    </button>
    <div class="menu-button--flex">
    <button type="button" class="btn--white btn--white--mobile" data-modal-open>Buy now
        <svg class="btn__arrow-red" width="10" height="10">
            <use href="./images/symbol-defs.svg#icon-arrow-red"></use>
        </svg>
    </button>
    </div>
    <ul class="menu-container__nav">
        
        <li class="menu-container__item"><a href="/"
                class="menu-container__links menu-container__links--current">Home</a>
            </li>
                
        <li class="menu-container__item"><a href="/" class="menu-container__links">About us</a></li>
        <li class="menu-container__item "><a href="/"
                class="menu-container__links">How it’s made?</a></li>
        <li class="menu-container__item"><a href="/" class="menu-container__links">Our products
        </a></li>
        <li class="menu-container__item "><a href="/" class="menu-container__links">Contact</a></li>
    </ul>
</div>

