<section class="products-section">
  <div class="products-section__continer container">
    <p class="products-section__label">100% natural</p>
    <h2 class="products-section__title">products</h2>
    <ul class="cards-drid list">
      <li class="cards-drid__item">
        <article class="product-card">
          <h3 class="product-card__title">ice cream</h3>
          <p class="product-card__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="product-card__button" type="button"></button>
        </article>
      </li>

      <li class="cards-drid__item">
        <article class="product-card">
          <h3 class="product-card__title">ice coffee</h3>
          <p class="product-card__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="product-card__button" type="button"></button>
        </article>
      </li>

      <li class="cards-drid__item">
        <article class="product-card">
          <h3 class="product-card__title">milkshakes</h3>
          <p class="product-card__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="product-card__button" type="button"></button>
        </article>
      </li>
    </ul>
  </div>
</section>
