<section class="riviews" id="review">
    <div class="container">
        <div class="slider">
            <div class="slider__section"><img src="images/reviews/reviews.png" alt="" class="riviews__img">
                <div class="riviews__bloc">
                    <div class="riviews__relative">
                        <svg class="riviews__quotes" viewBox="0 0 54 40" width="54" height="40">
                            <use class="riviews__svg" href="images/symbol-defs.svg#icon-quotes"></use>
                        </svg>
                        <h3 class="riviews__h3">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                            sem. In
                            hendrerit nulla
                            quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</h3>
                    </div>
                </div>
                <ul class="riviews__list">
                    <li class="riviews__li">
                    </li>
                    <li class="riviews__li">
                    </li>
                    <li class="riviews__li">
                    </li>
                </ul>
                <p class="riviews__p">Emily, Los Angeles</p>
                <ul class="riviews__list">
            </div>

            <div class="slider__section"><img src="images/reviews/testimonials2.jpg" alt="" class="riviews__img">
                <div class="riviews__bloc">
                    <div class="riviews__relative">
                        <svg class="riviews__quotes" viewBox="0 0 54 40" width="54" height="40">
                            <use class="riviews__svg" href="images/symbol-defs.svg#icon-quotes"></use>
                        </svg>
                        <h3 class="riviews__h3">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                            sem. In
                            hendrerit nulla
                            quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</h3>
                    </div>
                </div>
                <ul class="riviews__list">
                    <li class="riviews__li">
                    </li>
                    <li class="riviews__li">
                    </li>
                    <li class="riviews__li">
                    </li>
                </ul>
                <p class="riviews__p">Emily, Los Angeles</p>
                <ul class="riviews__list">
                    <li class="riviews__home">
            </div>

            <div class="slider__section">
                <div><img src="images/reviews/testimonials3.jpg" alt="" class="riviews__img">
                    <div class="riviews__bloc">
                        <div class="riviews__relative">
                            <svg class="riviews__quotes" viewBox="0 0 54 40" width="54" height="40">
                                <use class="riviews__svg" href="images/symbol-defs.svg#icon-quotes"></use>
                            </svg>
                            <h3 class="riviews__h3">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                                Aliquam sem. In
                                hendrerit nulla
                                quam nunc, accumsan
                                congue. Lorem ipsum primis in nibh vel risus.</h3>
                        </div>
                    </div>
                    <ul class="riviews__list">
                        <li class="riviews__li">
                        </li>
                        <li class="riviews__li">
                        </li>
                        <li class="riviews__li">
                        </li>
                    </ul>
                    <p class="riviews__p riviews__pp">Emily, Los Angeles</p>
                </div>
            </div>
        </div>
</section>
